@tailwind base;
@tailwind components;
@tailwind utilities;

/* TO HIDE ERRORS ON THE NAVIGATOR */
nextjs-portal {
  display: none;
}
/* END TO HIDE ERRORS ON THE NAVIGATOR */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}